<footer class="footer">
	<div class="container-footer2">
  <!-- contact Us -->
  <div class="contactUs">
    <h4>Contact Us</h4>
    <p><span><i class="fa fa-phone footerIcon"></i></span>&nbsp;(248) 933 9069 </p>
    
    <p><i class="fa fa-map-marker footerIcon"></i> 40020 W. 12 Mile Road
  Novi, MI 48377</p>
	  
  </div>

  <!-- Follow Us -->
  <div class="social-icons2 contactUs"><h4>Follow Us</h4>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
	  
    </div>
    
  <!-- copyright -->
                 
  <div class="copyright contactUs">
  <a class="navbar-brand" href="/homes"><img class="site-logo" src="https://dl.dropboxusercontent.com/s/5oau2sk91wjvxoa/estateLuxury3.png?dl=0" alt=""></a>
  
       <p class="copyright-text">&copy; <script>document.write(new Date().getFullYear());</script> Real Estate Experts. All rights reserved.</p>
  
 
</div>
	</div>
      

  </footer>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>